/* ==UserStyle==
@name         GameFAQs Solarized
@description  The adoption of the Solarized colour theme for GameFAQs.
@namespace    gitlab.com/maxigaz/gamefaqs-solarized
@author       maxigaz
@license      GPL-3.0-or-later
@homepageURL  https://gitlab.com/maxigaz/gamefaqs-solarized
@updateURL    https://gitlab.com/maxigaz/gamefaqs-solarized/raw/master/gamefaqs-solarized.user.css
@version      0.4.0

@preprocessor stylus
@var checkbox light-mode "Light Mode" 0
@var text img-brightness "Image brightness" 80%
@var color border "Border colour" #586E75
==/UserStyle== */

@-moz-document url-prefix("https://gamefaqs.gamespot.com")
{
	:root {
		if light-mode == 0 {
			--main-bg: #002B36;
			--alt-bg: #073642;
			--main-text: #FDF6E3;
			--alt-text: #EEE8D5;
		}
		else if light-mode == 1 {
			--main-bg: #FDF6E3;
			--alt-bg: #EEE8D5;
			--main-text: #002B36;
			--alt-text: #073642;
		}

		--ctone45: #586E75;
		--ctone50: #657B83;
		--ctone60: #839496;
		--ctone65: #93A1A1;

		--yellow: #B58900;
		--orange: #CB4B16;
		--red: #DC322F;
		--magenta: #D33682;
		--violet: #6C71C4;
		--blue: #268BD2;
		--cyan: #2AA198;
		--green: #859900;
	}

	body {
		background-color: var(--main-bg);
		color: var(--main-text);
	}

	img {
		filter: brightness(img-brightness);
	}

	img:hover {
		filter: brightness(100%);
	}

	a {
		color: var(--blue);
	}

	a:hover {
		color: var(--cyan);
	}

	/* ===== Header (when on top of page) ===== */

	.masthead {
		background-color: var(--blue);
	}

	.masthead_strip {
		background-color: #1d6fa5;
	}

	/* ===== Header (appears after scrolling down) ===== */

	#faq_header_wrap {
		background-color: var(--alt-bg);
	}

	#faq_header_wrap #faq_header #faq_bookmark.active {
		color: var(--blue);
	}

	.faq_bookmark_jumper {
		background-color: var(--alt-bg);
		border-color: border;
	}

	.faq_bookmark_jumper a {
		color: var(--blue);
	}

	#contrib_rec {
		background-color: var(--alt-bg);
		border-color: border;
		color: var(--alt-text);
	}

	#contrib_rec .rec_hide {
		if light-mode == 0 {
			color: var(--ctone50);
		}
		else {
			color: var(--ctone60);
		}
	}

	#contrib_rec .rec_hide:hover {
		if light-mode == 0 {
			color: var(--ctone65);
		}
		else {
			color: var(--ctone45);
		}
	}

#contrib_rec .rec_yes, #contrib_rec .rec_no, #contrib_rec .rec_send, #contrib_rec .rec_skip, #contrib_rec .rec_sent, #contrib_rec .rec_neutral {
		if light-mode == 0 {
			background-color: var(--ctone45);
		}
		else {
			background-color: var(--ctone65);
		}
	}

	#contrib_rec .rec_yes, #contrib_rec .rec_send, #contrib_rec .rec_sent {
		if light-mode == 0 {
			background-color: var(--ctone50);
		}
		else {
			background-color: var(--ctone60);
		}
	}

	#contrib_rec .rec_yes:hover, #contrib_rec .rec_no:hover, #contrib_rec .rec_send:hover, #contrib_rec .rec_skip:hover, #contrib_rec .rec_sent:hover, #contrib_rec .rec_neutral:hover {
		if light-mode == 0 {
			background-color: var(--ctone65);
		}
		else {
			background-color: var(--ctone45);
		}
	}

	fieldset#gamespace_search input#gamespace_search_input, fieldset#gamespace_search input#faq_search_input, fieldset#gamespace_search input#game_search_input, fieldset#faq_search input#gamespace_search_input, fieldset#faq_search input#faq_search_input, fieldset#faq_search input#game_search_input, fieldset#game_search input#gamespace_search_input, fieldset#game_search input#faq_search_input, fieldset#game_search input#game_search_input {
		background-color: var(--main-bg);
		border-color: border;
		color: var(--main-text);
	}

	/* ===== FAQ/Walkthrough ===== */

	#content {
		background-color: var(--main-bg);
	}

	.content_nav {
		background-color: var(--blue);
		background-image: none;
		box-shadow: none;
	}

	.ffaq .faqtext {
		background-color: var(--alt-bg);

	}

	#mantle_skin {
		background-color: var(--main-bg);
	}

	.top_link.fixed {
		background-color: var(--blue);
	}

	.header_more {
		color: var(--alt-text);
	}

	.ffaq h2 {
		border-color: border;
	}

	/* Author */

	.ffaq h2 a {
		color: var(--blue);
	}

	.ffaq h2 a:hover, .ffaq h4 a:hover, .ffaq h6 a:hover {
		color: var(--cyan) !important;
	}

	/* Mode switch (bottom of page) */

	.ffaq_page {
		background-color: var(--alt-bg);
	}

	/* ===== Boards ===== */

	.board.message td {
		background-color: var(--alt-bg);
	}

	.board.message.newbeta tr:nth-child(2n-1) td {
		background-color: var(--main-bg);
	}

	table {
		border-color: border;
	}

	th, td {
		border-color: border;
	}

	/* Navigation and post header */

	.tinynav {
		background-color: var(--ctone45);
	}

	.board.message .msg_infobox {
		background-color: var(--ctone50);
	}

	.board.message .msg_infobox:not(.deleted) {
		border-color: border;
	}

	.board.message .msg_infobox .post_time {
		color: var(--main-text);
	}

	.board.message .msg_infobox .user_info {
		color: var(--main-text);
	}

	/* Nag to sign up or log in */

	.forum_anon {
		background-color: var(--yellow);
	}

	/* ===== Search Games ===== */

	/* Basic Search */

	.search_results_title .sr_product:nth-child(2n) {
		background-color: var(--alt-bg);
	}

	.search_results_title .sr_name a {
		color: var(--main-text);
	}

	if light-mode == 0 {
		.search_results_title .sr_info {
			color: var(--ctone65);
		}

		.search_results_title .sr_as {
			color: var(--ctone60);
		}

		.search_results_title .sr_links a {
			color: var(--ctone60);
		}
	}
	else {
		.search_results_title .sr_info {
			color: var(--ctone45);
		}

		.search_results_title .sr_as {
			color: var(--ctone50);
		}

		.search_results_title .sr_links a {
			color: var(--ctone50);
		}
	}

	.head .title {
		border-color: var(--blue);
	}

	/* Advanced Search */

	.search_results_product .sr_title_row {
		background-color: var(--blue);
	}

	.search_results_product .sr_row:nth-child(2n+1) {
		background-color: var(--alt-bg);
	}

	.search_results_product {
		border-color: border;
	}

	.btn_primary {
		background-color: var(--blue);
	}

	.no-touch .btn_primary:hover:enabled, .no-touch .btn_primary:focus:enabled {
		background-color: #1c679b;
	}

	/* ===== Q&A ===== */

	h3, .subsection-title {
		color: var(--main-text);
	}

	.pod_topgames ol {
		color: var(--main-text);
	}

	.head {
		border-color: var(--blue);
	}

	.pod_user_friends div.friend_info .sub a, .pod_generic div.friend_info .sub a, .pod_activity_log div.friend_info .sub a {
		color: var(--blue);
	}

	/* Tables */

	tr:nth-child(2n+1), tr:nth-child(2n+1) td {
		background-color: var(--alt-bg);
	}

	.board th {
		background-color: var(--blue) !important;
	}

	/* Sidebar */

	.pod_related p {
		color: var(--main-text);
	}

	.imgboxart {
		border-color: var(--alt-bg);
	}

	/* ===== Q&A (list of questions) ===== */

	.flair {
		color: var(--blue);
		opacity: 0.8;
	}

	.btn_light {
		background-color: var(--blue);
	}

	/* ===== Game summary ===== */

	/* User ratings */

	.mygames_section {
		background-color: var(--alt-bg);
		border-color: border;
	}

	.gamerater_name {
		color: var(--violet);
	}

	.pod_gamespace_home_mygames .mygames_stats_play a {
		color: var(--blue);
	}

	/* ===== Footer ===== */

	.footer {
		background-color: var(--blue);
		background-image: none;
	}

}
